*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 14px;
}
main{
	width: 75%;
	margin: 35px auto;
	box-shadow: 1px 1px 2px #000;
	padding: 5%;
}
address{
	float: left;
	
}
address ul li{
	list-style-type: none;
	font-style: normal;
	text-transform: capitalize;
}
time{
	display: inline-block;
	float: right
}
h2{
	clear: both;
	font-size: 1.19em;
	font-weight: 100;
	margin-top: 5%;
	text-transform: capitalize;
}
header+h2{
	text-transform: capitalize;
	text-align: right;
	font-size: 1.19em;
	font-weight: 100;
	margin-top: 23%;
}

p{
	text-indent: 5%;
	text-align: justify;
	padding: 15px 15px;
}